.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgba(8, 9, 9, .8);
    justify-content: center;
    /* align-items: center; */
    display: flex;
    align-items: center;

}

#guest_res_modal {
    background-color: #eaf2fa;
    /* width: 500px; */
    margin: auto;
    display: grid;
    color: #455775;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 40px;
}

span svg {
    height: 40px;
    color: #455775;
    margin-right: 10px;
}

form:first-child span span {
    font-size: 40px;
    text-transform: capitalize;
}

form > div {
    margin-bottom: 10px;
    margin-left: 40px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;

}

label {
    margin-right: 5px;
}

.errors {
    color: #e13534;
}
