.landing_main {
    /* display: flex; */
    /* flex-direction: column; */

    width: 100%;
    height: auto;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    font-family: 'Roboto', sans-serif;
    /* justify-content: space-between; */
}
/* INTRO */
.icon{
    position: absolute;
    display: block;
}

#intro {
    /* background-color: #427aa1; */
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    margin: 60px auto 0px auto;
    font-family: 'Roboto', sans-serif;
}

.txt {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight:bolder;
    color: #ebf2fa;
}


#bread_icon {
    top: 16%;
    right: 45%;
}

#chili_icon {
    top: 74%;
    right: 25%;
}

#pie_icon {
    top: 15%;
    right: 5%;
}

#food1_icon {
    top:  10%;
    right: 90%;
}

#food2_icon {
    top: 65%;
    right: 80%;
}

#intro_section {
    position: relative;
    background-color: #05668d;
    padding: 100px;
}

/* FEATURES */
#feature_section {
    background-color: #a5be00;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    padding: 100px;
}

#features_description {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    margin: 0px auto 2% auto;
}

#example_image_1 {
    width: 50%;
    filter: drop-shadow(0 0 0.75rem #679436);
    height: auto;
    margin: 0px auto 0px 10%;


}

#guest_example {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    /* margin: 100px auto 100px auto; */
    position: relative;
    left: 400px;
    bottom: 50px;
}


#example_image_2 {
    width: 50%;
    filter: drop-shadow(0 0 0.75rem #679436);
    height: auto;
    margin: 2% 10% 0px auto;

}

#esatablishment_example {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    /* margin: 100px auto 100px auto; */
    position: relative;
    bottom: 50px;
    left: 200px;

}

/* AVAILABILITY SECTION */

#avail_sec_title {
    color: #eaf2fa;
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    font-weight: bolder;
    left: 10%;
}

#availability_grid {
    display: grid;
    /* grid-template-columns: repeat(5, minmax(80px, 1fr)); */
    grid-template-columns: repeat(3,minmax(80px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 80%;
    margin: 20px auto 20px auto;
}

@media (min-width: 600px) {
    #availability_grid {
        grid-template-columns: repeat(5, minmax(80px,1fr));
    }
}

#res_params_selector {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 8%);
    background-color: #eaf2fa;
    border: 1px solid #eaeaea;
    border-radius: 28px;
    display: flex;
    width: fit-content;
    margin: 1.5em auto 1.5em auto;
}

#res_params_selector label {
    color: black;
}
#res_date_param_container,
#res_guest_param_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;

}

#guest_num_selector {
    background-color: #444;
    color: #fff;
    height: 38px;
    /* font-size: 12px; */
    margin: 3px;
    border: none;
    border-radius: 6px;
    /* box-sizing: border-box; */
    width: 100%;
    padding: 4px 4px;
    writing-mode: horizontal-tb !important;
    word-spacing: normal;
}

#date_selection_bar {
    margin: 0px auto 0px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    height: 90px;
    overflow-x: scroll;
    white-space: nowrap;
}

.date_selection {
    border-radius: 50%;
    background-color: #eaf2fa;
    color: #a5be00;
    font-family: sans-serif;
    font-size: large;
    font-weight:bolder;
    height: 80px;
    width: 80px;
    line-height: 5rem;
    text-align: center;
    margin: 0px 3px 0px 5px;
    text-transform: uppercase;
    display: inline-block;
    flex-shrink: 0;
}

.date_selection:hover {
    background-color: #679436;
    cursor: pointer;
}
.date_selection_active {
    background-color: #679436;
    color: #a5be00;



}

/* table cell */
.avail_table_cell {
    display: flex;
    flex-direction: column;
    background-color: #eaf2fa;
    color: #a5be00;
    font-family: sans-serif;
    font-weight:bolder;
    text-transform: uppercase;
    align-items: center;
    border-radius: 4px;

}

.avail_table_cell:hover {
    background-color: #679436;
    cursor: pointer;
}

.avail_table_cell_name {
    font-size: small;
}

.avail_table_cell_date {
    font-size: large;
}
#links_section {
    display: flex;
    background-color: #427aa1;
    width: 25%;
    padding: 25px;
    border-radius: 18px;
    margin: 0px auto 40px auto;
    justify-content: space-evenly;

}

#linkedIn {

}

#github {

}

#spacer {
    height: 800px;
    width: 100%;
}
