
/* NOTES */
/* :export {
    brandColor: $blue;
    baseFontSize: $base-font-size;
 } */

 /* .panelDefault{
    composes: panel from './panel.css";
    max-width: 640px;
    margin-bottom: 24px;
 } */


 /* :global .active{
    color: #fff;
    border-bottom: 1px solid teal;
 }
 :global .wrapper{
    background-color: teal;
 } */

.landing_main {
    /* display: flex; */
    /* flex-direction: column; */

    /* width: 100%; */
    /* height: auto; */
    /* overflow-y: scroll;
    overflow-x: hidden; */
    font-family: 'Roboto', sans-serif;
    /* justify-content: space-between; */
}

h1 {
    color: transparent;
    font-family: bungee, sans-serif;
    font-size: 50px;
    position: relative;
    /* font-weight: bolder; */
    /* left: 10%; */
    background-image: linear-gradient(60deg, #108758, #0D6E47,#5073b8, #19D489, #129460, #07b39b, #6fba82);
    background-clip: text;
    /* text-shadow: 0 2px 5px 0 rgb(0 0 0 / 8%); */
}

/* INTRO */
.icon{
    position: absolute;
    display: block;
}

#intro {
    /* background-color: #427aa1; */
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    margin: 60px auto 0px auto;
    font-family: 'Roboto', sans-serif;
}

.txt {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight:bolder;
    color: #ebf2fa;
}


#bread_icon {
    top: 16%;
    right: 45%;
}

#chili_icon {
    top: 74%;
    right: 25%;
}

#pie_icon {
    top: 15%;
    right: 5%;
}

#food1_icon {
    top:  10%;
    right: 90%;
}

#food2_icon {
    top: 65%;
    right: 80%;
}

#intro_section {
    position: relative;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* FEATURES */
#feature_section {
    background-color: #a5be00;
    width: 100%;
    /* height: auto; */
    flex-shrink: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    /* overflow-x: hidden; */
}

#features_description {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    margin: 0px auto 2% auto;
}

#example_image_1 {
    width: 50%;
    filter: drop-shadow(0 0 0.75rem #679436);
    height: auto;
    margin: 0px auto 0px 10%;


}

#guest_example {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    /* margin: 100px auto 100px auto; */
    position: relative;
    float: left;
}


#example_image_2 {
    width: 50%;
    filter: drop-shadow(0 0 0.75rem #679436);
    height: auto;
    margin: 2% 10% 0px auto;

}

#esatablishment_example {
    background-color: #679436;
    width: 50%;
    padding: 25px;
    border-radius: 18px;
    /* margin: 100px auto 100px auto; */
    /* position: relative; */
    float: left;

}


#links_section {
    display: flex;
    /* background-color: #427aa1; */
    /* width: 25%; */
    padding: 25px;
    /* border-radius: 18px; */
    /* margin: 0px auto 40px auto; */
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;
    margin: 4rem;

}

#links_section  .more_links {
    width: 100px;
    margin: 1rem;
}

#links_section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selfie {
    position: absolute;
    width: 150px;
    top: -40px;
    left: -40px;
}

.selfie img {
    /* width: 150px; */
    /* margin: 1rem; */
}
#linkedIn {

}

#github {

}

/* MOVING BORDER RADIUS */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 6rem auto;
    /* width: 100%;
    height: 100vh; */
    position: relative;

}

.bordered {
  /* height: 300px; */
  min-width: 300px;
  max-width: 600px;
  aspect-ratio: 16/9;
  background-color: #ebf2fa;
  border-radius: 45% 55% 39% 56% / 57% 54% 46% 43%;
  overflow: hidden;
  box-shadow: 0px 0px 4px -1px #111111;
  animation: animate-border-radius 7s linear infinite running;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* I used this app https://am-77.github.io/border-radius-generator/ to generate border-radius */
.bordered img {
  width: 100%;
  height: 100%;
}
  @keyframes animate-border-radius {
    0% {
      border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
    }

    20% {
      border-radius: 42% 58% 58% 42% / 34% 41% 59% 66%;
    }

    40% {
        border-radius: 56% 44% 62% 38% / 44% 22% 78% 56%;
    }

    60% {
      border-radius: 60% 40% 38% 62% / 52% 35% 65% 48%;
    }

    80% {
        border-radius: 60% 40% 49% 51% / 52% 61% 39% 48%;
    }

    100% {
      border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
    }
  }

    .gradient_border {
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 8%);
        /* background-color: #eaf2fa; */
        position: relative;
        width: max-content;
        margin: 2rem auto;
    }

    .gradient_border::after {
        content: '';
        position: absolute;
        top: calc(-1*5px);
        left: calc(-1*5px);
        height: calc(100% + 5px * 2);
        width: calc(100% + 5px * 2);
        background: linear-gradient(60deg, #108758, #09472E, #0D6E47,#5073b8, #19D489, #7BDCED, #129460, #07b39b, #6fba82);


        z-index: -1;
        animation:animate 5s ease alternate infinite;
        background-size: 300% 300%;
        box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);
    }

    @keyframes animate{
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
