.add_guest {
    grid-area: guest;
    background-color: white;

}

.guest_search_and_details {
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
}

.guest_tabs {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 80px;

}

/* DETAILS TAB */

.guest_details_tab,
.guest_details_tab_on {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
}

.guest_details_tab_on {
    color: blue;

}

.details_check {
    color: #a4a4a4;
    height: 40px;
    align-self: center;
}

/* GUEST TAB */
.guest_search_tab_on,
.guest_search_tab {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
}

.guest_search_tab_on {
    color: blue;
}

.guest_check {
    color: #a4a4a4;
    height: 40px;
    align-self: center;
}

.guest_tabs .details_text,
.guest_tabs .guest_text {
    color: black;
    color: #a4a4a4;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}
/* GUEST SEARCH*/

.guest_search_field {
    width: 350px;
    font-family: sans-serif;
    align-self: center;
}

.search_results {

    width: 350px;
    height: 350px;
    align-self: center;
    overflow-y: scroll;
}

.searched_guest {
    width: 350px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    color: black;
    font-family: sans-serif;
}

.selected_guest{
    color: black;
    display: flex;
    font-family: sans-serif;
    position: absolute;
    top: 75px;
    left: 15px;
}

.selected_guest > * {
    color: #333;
    border: 1px solid #55b68a;
    border-bottom: 5px solid #55b68a;
    height: 30px;
    background-color: #fff;
    font-size: 15px;
    margin: 5px;
}

.x_button {
    color: #333;
    border: 1px solid #55b68a;
    border-bottom: 5px solid #55b68a;
    background-color: #fff;
    font-size: 12px;
    margin: 5px;
    padding: 1px 7px 1px 7px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0px;
}

.x_button:hover{
    cursor: hand;
    cursor: pointer;
    }

.x_button:active{
    border-bottom: 3px solid #999;
    top: 3px;
    }
/* GUEST DETAILS*/

.details_form {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 380px;
    background-color: #e9e9e9;
    align-items: center;

}

.details_inputs {
    display: flex;
    flex-direction: column;
}

.form_title {
    height: 40px;
    font-family: sans-serif;
    background-color: #f6f6f6;
    color: #979797;
    width: 380px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.details_inputs {
    width: 350px;
    height: 270px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: sans-serif;
    border: 2px solid rgb(169, 169, 169);
}

.details_inputs label {
    color: black;
}

.name_block {
    width: 346px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.name_block label {
    /* margin-left: 30px; */
}

.name_input {
    /* margin-left: 10px; */
}

.guest_name,
.guest_notes,
.guest_email,
.guest_phone {
    color: #979797;
    /* margin-left: 10px; */
}


.notes_block {
    width: 346px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 5px;
}

.notes_block label {
    /* margin-left: 20px; */
}

.notes_input {
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* height: 60px; */
}

.guest_notes {
    /* margin-left: 10px; */
    width: 220px;
    height: 80px;
    overflow-y: scroll;
    /* margin-left: 10px; */
}

.contact_label {
    width: 350px;
    height: 30px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border-top: 2px solid rgb(169, 169, 169);
    /* padding: 10px; */
}

.phone_block {
    width: 346px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    padding: 5px;
}

.phone_block label {
    /* margin-left: 10px; */
}

.phone_input {
    /* margin-left: 10px; */
}

.email_block {
    width: 346px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;


}

.email_block label {
    /* margin-left: 10px; */
}

.email_input {
    /* margin-left: 10px; */
}

.guest_tags {
    position: relative;
    display: flex;
    align-items: center;
}

.tag_section {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    /* position: relative; */

}

.tag_section_title {
    height: 40px;
    font-family: sans-serif;
    background-color: #f6f6f6;
    color: #979797;
    width: 380px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.tags_block {
    width: 346px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border: 2px solid rgb(169, 169, 169);
    /* justify-content: space-evenly; */
    overflow-x: scroll;


}

.tags_block label {
    /* margin-left: 10px; */
    color: black;

}

.guest_tag {
    color: #979797;

}
.tag_input {
    /* margin-left: 10px; */
    /* width: 240px; */
}

.tag {
    height: 30px;
    /* display: inline-block; */
    color: black;
    border: 1px solid black;
    width: auto;
    margin: 3px;
    border-radius: 3px;
    padding: 3px;
    white-space: nowrap;
}
.delete_tag {
    height: 10px;
    margin: 3px;
    /* text-align: center; */

}

.delete_tag:hover {
    cursor: pointer;
}

/* PLACE RESERVATION BUTTON */
.place_reservation_button {
    width: 380px;
    height: 100px;
    justify-self:end;
    background-color: #55b68a;
    margin-top: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.disabled_reservation_button {
    width: 380px;
    height: 100px;
    justify-self:end;
    background-color: grey;
    margin-top: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 30px;
}

.edit_icon {
    width: 20px;
    color: black;
    /* margin-left: auto; */
    /* margin-right: 8px; */
    /* justify-self: flex-end; */
    /* margin-left: auto; */
}


/* MODAL*/
.modal_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    /* width: 100vw;
        height: 100vw; */
    background-color: rgba(8, 9, 9, 0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_submission_modal {
    background-color: #272a2d;
    height: 400px;
    width: 700px;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 40px 100px 400px;
    grid-template-areas:
    "bar bar"
    "description description"
    "buttons buttons";
    border-radius: 2px;
    font-family: sans-serif;
}

.title_bar{
    grid-area: bar;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
    line-height: 40px;
    background-color: #dedede;
    color: black;

}

.reservation_details {
    grid-area: description;
    height: 200px;
    width: 400px;
    background-color: grey;
    justify-self: center;
    border-radius: 2px;
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
}
.button_area {
    grid-area: buttons;
    align-self: center;
    justify-self: center;
}
.return_button {
    color: #333;
    border: 1px solid grey;
    border-bottom: 5px solid grey;
    background-color: #fff;
    font-size: 12px;
    margin: 5px;
    padding: 1px 7px 1px 7px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0px;
}

.confirm_button {
    color: #333;
    border: 1px solid #55b68a;
    border-bottom: 5px solid #55b68a;
    background-color: #fff;
    font-size: 12px;
    margin: 5px;
    padding: 1px 7px 1px 7px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0px;
}

.confirm_button:hover,
.return_button:hover{
    cursor: hand;
    cursor: pointer;
    }

.confirm_button:active,
.return_button:hover{
    border-bottom: 3px solid #999;
    top: 3px;
    }
