/* LOGIN */
#login_background {
    font-family: "Roboto", sans-serif;
}

#login_block {
    width: calc(100vw - 20px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    font-family: sans-serif;
    border-radius: 6px;
    background-color: #eaf2fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;
    position: relative;
    border-radius: 25px;
}

#login_block label {
    margin-top: 30px;
}

#signup_block button, #login_block button {
    color: black;
    border: 1px solid #55b68a;
    border-bottom: 5px solid #55b68a;
    background-color: #fff;
    /* font-size: 12px; */
    /* margin: 5px; */
    margin-top: 30px;
    padding: 1px 7px 1px 7px;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0px;
}

#signup_block button:hover, #login_block button:hover {
    cursor: hand;
    cursor: pointer;
}

#signup_block button:active, #login_block button:active {
    border-bottom: 3px solid #999;
    top: 3px;
}

/* SIGNUP */
#signup_background {
    font-family: "Roboto", sans-serif;
}

#est_setup_form select, #est_setup_form input, #login_block input, #signup_block input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #eaf2fa;
}


#signup_block {
    background-color: #eaf2fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: calc(100vw - 20px);
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    font-family: sans-serif;
    border-radius: 25px;
    color: black;
    position: relative;
}

.gradient_border::after {
    content: '';
    position: absolute;
    top: calc(-1*5px);
    left: calc(-1*5px);
    height: calc(100% + 5px * 2);
    width: calc(100% + 5px * 2);
    background: linear-gradient(60deg, #108758, #09472E, #0D6E47,#5073b8, #19D489, #7BDCED, #129460, #07b39b, #6fba82);

    border-radius: calc(5*5px);
    z-index: -1;
    animation:animate 5s ease alternate infinite;
    background-size: 300% 300%;
    box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);

}

@keyframes animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#signup_block label {
    margin-top: 30px;
}

.error {
    color: #e71d36;
}

/* Establishment Setup */
#est_setup_background {
    font-family: "Roboto", sans-serif;
}

#est_form_title {
    font-family: bungee, sans-serif;
    color: transparent;
    width: calc(100vw - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-image: linear-gradient(60deg, #108758, #0D6E47,#5073b8, #19D489, #7BDCED, #129460, #07b39b, #6fba82);
    background-clip: text;
}

#est_setup_background label {
    margin-top: 30px;
}

#timezone_details {
    font-size: 12px;
    color: red;
    margin-left: 20px;
}

#est_user_confirm {
    margin-top: 30px;
}

#est_submit_button {
    margin-top: 30px;
}

#timezone_details:before {
    content: '*';
    color: red;
    font-size: 22px;
    margin-right: 3px;
    position: relative;
    top: 7px;
}
#est_setup_form {
    width: calc(100vw - 20px);
    /* border: 1px solid black; */
    border-radius: 6px;
    display: flex;
    padding: 10px 20px 20px 20px;
    margin: 10px 10px 10px 10px;
    font-family: sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: #eaf2fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    border-radius: 25px;
}

@media (min-width: 600px) {
    #est_setup_form {
        margin-top: auto;
        width: calc(100vw / 2);
        margin-right: auto;
        margin-left: auto;
        padding: 10px 50px 50px 50px;

    }

    #est_form_title {

        width: calc(100vw / 2);

    }

    #login_block, #signup_block {
        width: calc(100vw / 2);
    }
}

#btn_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 1rem auto;
}

/* 9 */
.custom_btn {
    width: auto;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    z-index: 2;
    margin: 0 auto;

  }

.btn_9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .btn_9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #2FD492 0%, #5073b8 74%);
    transition: all 0.3s ease;
  }

  .btn_9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: white;
  }
  .btn_9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2),
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

  #logout_container {
      width: 300px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      height: 400px;
      grid-template-areas:
      "icon icon later ."
      "icon icon . gater";
      margin: 2rem auto;
  }

  #alligator_icon {
      width: 200px;
      grid-area: icon;
      align-self: center;
      animation: wiggle 1.5s infinite;
  }

  #later {
      grid-area: later;
      color: #e3e6e8;
      font-size: 5rem;
      font-family: bungee, sans-serif;
  }

  #gater {
    grid-area: gater;
    color: #e3e6e8;
    font-size: 5rem;
    font-family: bungee, sans-serif;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   70% { transform: rotate(0deg); }
   75% { transform: rotate(10deg); }
   95% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@media(min-width: 600px) {
    #logout_container {
        width: 600px;
    }
}

.fade_in {
    animation: fadeIn 1.5s;
    opacity: 1;
}

.fade_in2 {
    animation: fadeIn2 3s;
    opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
    opacity: 1;
 }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
      opacity: 1;
   }
  }
