.top_bar {
    grid-area: top;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    color: #afafaf;
    font-family: sans-serif;
    align-items: center;
}

.restaurant_title {
    margin: 8px;
    font-weight: bold;
}

.center_options {
    display: flex;
    align-items: center;
}

.todays_date,
.dining_period {
    background-color: #434343;
    border-radius:3px;
    color: whitesmoke;
    height: 40px;
    width:100px;
    font-size: 12px;
    padding: 4px;
    margin: 4px;
    font-weight: bold;

}

.forward_date,
.back_date,
.calendar {
    height: 40px;
    margin: 4px;
}

.establishment_settings {
    height: 30px;
    margin: 8px
}
