
.navbar_main {
    background-color: #ebf2fa;
    display: grid;
    grid-template-columns: 8rem auto 8rem;
    grid-template-rows: 60px;
    grid-template-areas:
    "logo empty dropdown";
    position: relative;
}

.home_navlink {
    grid-area: logo;
    align-self: center;
    justify-self: center;
}

img {
    height: 70px;
}

.dropdown_icon {
    height: 50px;
    color: #0db171;
    /* align-self: center;
    justify-self: center; */
    margin: 5px auto auto 30px;

}

.ul_flex {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 25%;
    background-color: #ebf2fa;
    border: 1px solid #427aa1;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 10px; */

}

li {
    padding: 20px;
    border-bottom: 1px solid #427aa1;
    height: 10px;
    width: auto;
    font-size: 20px;
    line-height: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

/* .dropdown_icon:hover + .ul_flex,
.ul_flex:hover {
    cursor: pointer;
    display: block;
} */
#drop_down {
    grid-area: dropdown;
    justify-content: center;

}

#drop_down:hover + .ul_flex,
.ul_flex:hover {
    cursor: pointer;
    display: block;
}
